@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --red: #ea5353;
    --cyan: #45d3d3;
    --orange: #fcaf4a;
    --blue: #549ef2;
    --light-grey: #697077;
    --dark-grey: #4c4e61;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
